body{
  background: #ededed;
  padding: 0;
  box-sizing: content-box;
}
nav ul{
  list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
nav ul li a{
    background-color: mintcream;
    border-radius: 5px;
    color:black !important;
    margin: 10px;
}
form{
    border-radius: 5px;
    background: #fff;
    padding:30px;
    margin: 25px auto !important;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    /* text-align: center; */
}
form button{
  width: 120px;
  padding: 5px;
}
.hidden { display:none; }
.notFound{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}